.title {
  margin-bottom: 5px;
}

.descr {
  color: rgb(132, 121, 121);
}

.container {
  width: 25%;
  height: 5rem;
  align-items: center;
  position: relative;
  bottom: 14rem;
  left: 53rem;
}

.chkbox {
  position: absolute;
  right: 31rem;
  bottom: 4rem;
}
