.title {
  margin-bottom: 5px;
  background-color: white;
}

.descr {
  color: #a4a1a7;
  margin-bottom: 8px;
  background-color: white;
}

.date {
  color: rgb(13, 48, 124);
  background-color: white;
}

.container {
  width: 32.8%;
  height: 5rem;
  position: relative;
  bottom: 29.5rem;
  left: 37.5rem;
  padding-top: 20px;
  padding-left: 3px;
  border-top: 2px solid rgb(94, 89, 89);
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
}

.chkbox {
  position: absolute;
  right: 39.5rem;
  bottom: 4rem;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 50%;
  appearance: none;
}

.chkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
}
