/*The header is classified as the entire square of container. This is responsible for the position of container as well as the space where everything goes*/
header {
  width: 9.2%;
  display: flex;
  justify-content: center;
  border: solid 250px white;
  background-color: white;
  margin-left: 36rem;
  margin-top: 10rem;
  border-radius: 10px;
}

/*This is the bar for "Notifications and "Todo"*/

.todo,
.notif {
  margin: 1.5rem 1.3rem 0rem 0.6rem;
  background-color: white;
  position: relative;
  bottom: 15rem;
}

.todo {
  margin-right: 25.5rem;
  border-bottom: 2px solid rgb(117, 27, 251);
}

.todo:hover {
  cursor: pointer;
}

/*This is the text to be displayed if no task are added to container*/

.emptyContainer {
  position: absolute;
  width: 16%;
  bottom: 37rem;
  z-index: 1;
  left: 46rem;
  background-color: white;
}

.emptyContainer h2 {
  background-color: white;
  color: #a4a1a7;
}

/* useState from Notifications to Todo */

.activeBar {
  border-bottom: 2px solid rgb(117, 27, 251);
  cursor: pointer;
}

.inactiveBar {
  color: #a4a1a7;
  border-bottom: 0;
}

.inactiveBar:hover {
  cursor: pointer;
  border-bottom: 2px solid #a4a1a7;
}
