header {
  width: 9.2%;
  display: flex;
  justify-content: center;
  border: solid 250px white;
  background-color: white;
  margin-left: 36rem;
  margin-top: 10rem;
  border-radius: 10px;
}

.todo,
.notif {
  margin: 1.5rem 1.3rem 0rem 0.6rem;
  background-color: white;
  position: relative;
  bottom: 15rem;
}

.todo {
  margin-right: 25.5rem;
  border-bottom: 2px solid rgb(117, 27, 251);
}

.todo:hover {
  cursor: pointer;
}

.notif {
  color: #a4a1a7;
}

.notif:hover {
  cursor: pointer;
  border-bottom: 2px solid #a4a1a7;
}

.emptyContainer {
  position: absolute;
  width: 16%;
  bottom: 37rem;
  z-index: 1;
  left: 46rem;
  background-color: white;
}

.emptyContainer h2 {
  background-color: white;
  color: #a4a1a7;
}
