header {
  width: 9.2%;
  display: flex;
  justify-content: center;
  border: solid 250px white;
  background-color: white;
  margin-left: 36rem;
  margin-top: 10rem;
}

.todo,
.notif {
  border-top: 1.5rem solid white;
  border-left: 1.5rem solid white;
  border-right: 1.5rem solid white;
  background-color: white;
  position: relative;
  bottom: 15rem;
}

.todo {
  border-right: 25rem solid white;
}
