@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgb(233, 232, 232);
  font-family: "Open Sans", sans-serif;
}
